/* Adiciona o CSS do Pikaday */
@import './node_modules/pikaday/css/pikaday.css';

* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

form {
  margin: 10px;
  display: flex;
  flex-flow: column wrap;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
